
.form{
    text-align: right;
}

.form label{
    font-size: larger;
    font-weight: bold;
}

.form input{
    width: 3rem ;
    border-radius: 30px , 30px , 30px , 30px;
}

.form button{
    
    text-align: center;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    height: 1.75rem;

}
.btn{
    border-radius: 30px , 30px , 30px , 30px;
}

.fdiv{
    text-align: center;
    margin-top: 0.5rem;
}


